@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../font/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url('../font/Montserrat-Light.ttf');
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../font/Montserrat-Medium.ttf');
}
@font-face {
    font-family: 'Potra';
    src: url('../font/Potra.ttf');
}